<div class="card mt-4">
  <div class="card-header py-1 d-flex justify-content-between">
    <h5 class="card-title"><%= post.user.email%></h5>
    <div class="header-buttons">
      <%= link_to "Edit", edit_post_path(post), class: "btn btn-outline-primary" %>
      <%= link_to "Delete", post_path(post), method: "delete", class: "btn btn-outline-primary" %>
    </div>
  </div>
  <div class="card-body mt-0">
    <p class="card-text from-control"><%= post.body %></p>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary mt-2">Like</button>
    <button class="btn btn-secondary mt-2">Comment</button>
  </div>
</div>
