<div class="card mt-4">
  <div class="card-body text-center">
    <h5 class="card-title"><%= title %></h5>
    <%= form_with model: post, method: method do |form| %>
      <%= form.text_area :body, class: "card-text form-control" %>
      <%= form.submit "Publish", class: "btn btn-primary mt-2" %>
    <% end %>
  </div>
</div>
